*
{
  margin:0;
  padding: 0;
  z-index: 0;
}
#nav-bar
{
 position: sticky;
 top:0;
 z-index: 10;
}
.navbar-nav li
{
   padding: 0 10px;

}
.navbar-nav li a
{
   float: right;
   text-align: left;
}
#nav-bar ul li a:hover{
  color:blue!important;
}
.navbar{
  background:black;

}
.navbar-toggler
{
  border:none! important;
}
.nav-link
{
  color:white!important;
  font-weight: 600;
  font-size:20px;
}
#silder
{
  width: 100px;
}
.carousel-caption
{
  top: 50%;
  transform: translateY(-50%);
  bottom:initial !important;
}
.carousel-caption h4
{
     color: #ffff;
     font-size: 42px;

}
.d-block
{
  width:2000px;
  height:100px;
}
#about
{
  padding-top:50px;
  padding-bottom: 50px;
  color: #555;

}
#about btn
{
  margin-top: 20px;
  margin-bottom: 30px;
}
.about-content
{
  padding-top: 2opx;
}
.skills bar p
{
   margin-bottom: 6px;
   font-weight:600;
}
.progress-bar
{
  border-radius: 16px;
}
.progress
{
  border-radius: 16px!important;
  margin-bottom: 20px;
}
#team
{
  padding-top: 50px;
  padding-bottom: 50px;
  color:#555;

}
h1
{
  text-align: center;
  color:#555!important;
  padding-bottom: 10px;
}
h1::after
{
  content: "";
  background:#007bff;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.profile-pic
{
  margin-top: 25px;
}
#menu
{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(food3.jpeg);
  background-position:center;
  color:#efefef !important;
  background-attachment: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
}
#menu button
{
  
  color:white!important;
  padding-bottom:4px;
  padding-top: 4px;
  text-align: center;
  border-radius:60px;
  font-size: 32px;
  background-color:blue;
  border:none;

}
#menu button:after
{
  content: "";
  display: block;
  height:3px;
  width: 170px;
  margin: 20px auto 5px;
}
